@import '_reset';
@import '_normalize';
@import '_fontawesome';


/* defining global scss variables before loading custom scss files */

$black: #4f4f4f;
$white: #eaeaea;
$header-height: 75px;
$padding-sides: 25px;

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

body {
  overflow: hidden;
}

.form-centered {
  /* TODO: fix dimensions */
  min-width: 1200px;
  min-height: 692px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  form {
    text-align: right;

    div {
      margin-top: 50px;

      &.right {
        text-align: right;
      }

      &.center {
        text-align: center;
      }

      &.large-top-margin {
        margin-top: 100px;
      }
    }
  }

  label {
    margin-right: 20px;
  }

  input[type=text], input[type=password], textarea {
    background: none;
    border: none;
    font: inherit;
    width: 300px;

    &:focus {
      outline: none;
    }

    &.large {
      width: 500px;
    }
  }

  textarea {
    resize: none;
    height: 300px;
    background: change-color($black, $alpha: 0.02);
    border: 1px solid change-color($black, $alpha: 0.3);
    vertical-align: top;
  }
  
  input[type=submit], button {
    border-radius: 5px;
    padding: 10px 20px;
    font: inherit;
    cursor: pointer;
    border: 1px solid $black;
    background: $white;
    color: $black;
    outline: none;

    &:focus {
      outline: none;
    }

    &.black-bg {
      background: $black;
      color: $white;
    }
  }

  &.black {
    background: radial-gradient(circle at center, $black, adjust-color($black, $alpha: 0.85) 100%);

    input[type=text], input[type=password] {
      border-bottom: 1px solid $white;
    }
  }

  &.text-black {
    color: $black;
  }

  &.white {
    background: radial-gradient(circle at center, $white, adjust-color($white, $alpha: 0.75) 100%);
    input[type=text], input[type=password] {
      border-bottom: 1px solid change-color($black, $alpha: 0.3);
    }
  }

  &.text-white {
    color: $white;
  }

}


@import '_login';
@import '_tabs';
@import '_index';

$connection-panel-height: 40px;
$connection-panel-width: 300px;

// connection panel always displayed
#connection-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50px;
  height: $connection-panel-height;
  border-top-right-radius: 5px;
  box-shadow: 2px -2px 2px change-color($black, $alpha:0.5);
  background: $white;
  z-index: 1;
  color: black;
  transition: width 0.2s;

  .connection-status {
    float: left;
    margin-left: 10px;
    height: $connection-panel-height;
    line-height: $connection-panel-height;

    .fa-circle {
      font-size: 10px;
      vertical-align: middle;

      &.not-connected {
        color: #E2654A;
      }

      &.connected {
        color: #4a6be2;
      }
    }
  }

  #connection-description {
    display: inline-block;
    width: 0;
    height: $connection-panel-height;
    transition: width 0.2s;
    font-size: 20px;
    overflow: hidden;
    vertical-align: middle;

    &.visible {
      width: $connection-panel-width - 50;
    }
  }

  .container-button {
    float: right;
    margin-right: 5px;
    line-height: $connection-panel-height;
    vertical-align: middle;
    cursor: pointer;
  }

  &.opened {
    width: $connection-panel-width;
  }
}